@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

html{
scroll-behavior: smooth;
}

.welcome {
  background: url(../assets/images/clouds-g8eee36838_1920.jpg);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome__rain {
  justify-content: center;
  width: 50%;
  height: 10%;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.welcome__rain__rain h1 {
  font-size: 30px;
  font-weight: 700;
}
.welcome__rain__rain p {
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  height: 30%;
  margin-top: -5px;
}

.mainTwo {
  height: 90%;
  background: linear-gradient(#2442AC, #2834be);
}
.mainTwo__top {
  justify-content: center;
  display: flex;
  padding: 15px;
}
.mainTwo__top__rain2 {
  justify-content: center;
  margin-top: 30px;
  width: 50%;
  height: 10%;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.mainTwo__top__rain2__txt {
  color: white;
}
.mainTwo__top__rain2 h1 {
  font-size: 25px;
  font-weight: 700;
}
.mainTwo input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  font-family: "Open Sans", sans-serif;
}
.mainTwo__section {
  border: 0px;
  border-radius: 5px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
}
.mainTwo__section__searchDiv {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainTwo__section .mainTwo__section__searchDiv img {
  width: 40%;
}
.mainTwo__degree {
  display: flex;
  justify-content: space-evenly;
  height: 15%;
  padding: 20px;
}
.mainTwo__degree__pluie {
  justify-content: space-evenly;
  display: flex;
}
.mainTwo__degree__nombre {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 700;
  margin-left: 10px;
}
.mainTwo .mainTwo__degree__pluie img {
  height: 100%;
}
.mainTwo__texte {
  height: 10%;
}
.mainTwo__texte__p {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 18px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.mainTwo__graph {
  height: 40%;
  display: flex;
  justify-content: center;
}
.mainTwo__graph__precipitations {
  height: 100%;
  width: 85%;
  background-color: #d9d9d9;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}
.mainTwo__graph__precipitations__top {
  height: 20%;
  border: 1px solid black;
  color: #2442AC;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 5px;
}
.mainTwo__graph__precipitations__top__pourc {
  color: #fff;
  background-color: #102A88;
  border-radius: 5px;
}
.mainTwo__graph__precipitations__bot {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.mainTwo__graph__precipitations__bot__left {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mainTwo__graph__precipitations__bot__left__goutte {
  color: #7D7D7D;
  padding: 5px;
  flex-direction: column;
}
.mainTwo__graph__precipitations__bot__right {
  width: 75%;
  height: 100%;
}
.mainTwo__graph__precipitations__bot__right__graph {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #ff1d1d 1.19%, rgba(253, 176, 60, 0) 101.99%);
  -webkit-clip-path: polygon(44% 56%, 70% 43%, 85% 78%, 100% 100%, 0 100%, 28% 14%);
          clip-path: polygon(44% 56%, 70% 43%, 85% 78%, 100% 100%, 0 100%, 28% 14%);
}
.mainTwo .mainThree {
  height: 100%;
  width: 100%;
}
.mainTwo .art-map {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainTwo .art-map__div {
  height: 80%;
  width: 80%;
}

.bottom {
  bottom: 0;
  height: 10%;
  background-color: #D9D9D9;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
}
.bottom__prevision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.bottom__carte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.__img {
  height: 50%;
}

.bottom__prevision a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #102a88;
}

.bottom__carte__carteImg {
  height: 50%;
}

.bottom__carte a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: rgba(16, 42, 136, 0.4901960784);
}/*# sourceMappingURL=default.css.map */